.btn-primary{
    background-color: rgb(81, 81, 255);
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #fff;
}